# when production ready lock in package versions
######################
# django requirements#
######################
Django==2.2.9
djangorestframework
uWSGI
python-dotenv
pytz
#psycopg2
djongo
kombu
tweepy
lupyne
sqlparse==0.2.4
geopy
progressbar2
